/*****************************    COLORS    *****************************/
:root {
  --base-color: rgb(240, 239, 239);
  --base-variant: #e8e9ed;
  --text-color: rgb(0, 0, 0);
  --secondary-text: grey;
  --color-link: #2563eb;
  --accent-color: orange;

  --border-radius-small: 0.5rem;
}

.darkmode {
  --primary-color: rgb(255, 255, 255);
  --base-color: rgb(0, 0, 0);
  --base-variant: #070808;
  --text-color: rgb(255, 255, 255);
  --sun-color: yellow;
  --secondary-text: rgb(129, 158, 253);
  td,
  th {
    background-color: black;
    border: 1px solid white;
  }

  .project-card img {
    border: 1px solid white;
  }
}

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
  box-sizing: border-box;
  font-size: 1.2rem;
}

audio,
img,
video {
  border-radius: var(--border-radius-large);
  max-width: 100%;
}

img {
  height: 100%;
  object-fit: cover;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: var(--base-color);
  color: var(--text-color);
  font-family: "Intel One Mono", monospace;
}

header,
main,
footer {
  max-width: 100%; /*15rem;*/ /*375px;*/
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

/* ---------- NavBar --------------- */

.immovableBar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 2rem;
  z-index: 999;
}

nav {
  background-color: rgba(188, 244, 253, 0.4);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); /* box-shadow is to give it some depth */
  width: 100%;
  /* overflow: hidden; */
  font-size: 1.5rem;
  font-weight: bold;
  /* backdrop-filter: blur(3px); */
}

nav ul {
  width: 100%;
  list-style: none; /*to not show bullets in list */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

#ukrLi a {
  padding: 0;
}

#ukrFlag {
  width: 65px;
  height: auto;
}

#ukrLi a:hover {
  background-color: transparent;
}

nav a:hover {
  /* control how it looks upon hover */
  background-color: #f0f0f0;
}

nav li:first-child {
  /* to control first child's behavior */
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 500; /* to make sure this is always on top of everything else */
  background-color: rgba(253, 188, 228, 0.4);
  backdrop-filter: blur(3px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.blurred {
  backdrop-filter: blur(3px);
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  color: var(--text-color);
}

/* ---------------- asdf ----------------- */

.separate-icons {
  all: unset;

  margin: 5px;
  width: 45px;
  height: auto;
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  /* outline: 1px solid red; */
}

.separate-icons#menuBurger {
  /* outline: 1px solid red; */
  width: 52px;
  height: auto;
  margin-top: 0;
}

.tables {
  table-layout: auto;
  width: fit-content;
  display: table;
}

td,
th {
  text-align: left;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 1px solid black;
}

tbody tr:nth-child(even) {
  background-color: rgb(226, 224, 224);
}

main,
section {
  display: flex;
  flex-direction: column;
}

main {
  gap: 4rem;
}

section {
  gap: 1rem;
}

.mePic {
  width: 10rem;
  height: auto;
  border-radius: 50%;
  outline: 1px solid black;
}

.introWrapper {
  display: flex;
  flex-direction: row;
}

.intro-pic-holder {
  margin: 0.5rem;
}

.intro-header {
  margin-top: 2%;
  margin: 0.5rem;
}

.intro-description {
  max-width: 100%;
}

.links-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.link-arrow {
  color: var(--color-link);
  transform: rotate(-45deg);
}

.color-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cards-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-card > div:first-of-type {
  flex: 1;
}

.project-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 0.5rem;
}

.tech-list {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 0.25rem 0;
}

.tech-list div {
  padding: 0.1rem 0.5rem;
  padding-top: 0;
  border-radius: var(--border-radius-small);
}

.tech-list p {
  font-size: 0.8rem;
}

/*****************************    MEDIA QUERIES    *****************************/
@media (min-width: 640px) {
  header,
  main,
  footer {
    max-width: 75rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
  }

  .project-card {
    flex-direction: row;
  }

  .project-card .img-div {
    max-width: 30%;
    object-fit: cover;
    outline: 2px solid black;
  }

  #menuBurger {
    display: none;
  }
}

@media (max-width: 800px) {
  /* ok for tablets */
  .hideOnMobile {
    display: none;
  }
}

@media (max-width: 400px) {
  /* ok for mobile */
  .sidebar {
    width: 100%;

    #menuBurger {
      display: block;
    }
  }
}

/* -------------- glowing --------------- */
.glowing-container {
  background-color: transparent; /* Dark background for better glow visibility */
  box-shadow: 0 0 50px 20px rgba(0, 255, 255, 0.7); /* X, Y, blur, spread, color with opacity */
  padding: 20px;
  border-radius: 10px;
}

.glowing-image {
  filter: drop-shadow(
    0 0 5px rgba(255, 255, 255, 0.9)
  ); /* X, Y, blur, color with opacity */
}

/* Galleries */
div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  margin: 5px;
  border: 1px solid black;
  width: calc(25% - 20px);
}

div.gallery-item img:hover {
  border: 1px solid #aaff00;
  justify-content: center;
}

div.gallery-item img {
  height: auto;
  border: 3px solid black;
  width: calc(35% - 20px);
  margin-top: 1%;
}

div.gallery-item div.desc {
  padding: 5px;
  text-align: center;
  font-size: small;
}

div.gallery-item div.desc-top {
  padding: 3px;
  text-align: center;
  font-size: small;
  color: rgb(33, 29, 233);
}

div.gallery-item a img {
  width: 100%;
  height: auto; /* Maintains the aspect ratio */
}

@media only screen and (max-width: 768px) {
  div.gallery-item {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 480px) {
  div.gallery-item {
    width: calc(100% - 20px);
  }
}

/* Picture Grid (new for thumbnails */
.picture-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  justify-items: center;
  grid-gap: 1px;
  grid-row-gap: 1px;
}

.grid-box img {
  width: 100%;
  /* border: 3px solid black;
  width: calc(25% - 20px); */
}
