:root {
  --base-color: white;
  --base-variant: #e8e9ed;
  --text-color: black;
  --secondary-text: grey;
  --color-link: #2563eb;
  --accent-color: orange;

  --border-radius-small: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
}

audio,
img,
video {
  border-radius: var(--border-radius-large);
  max-width: 100%;
}

img {
  height: auto;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--base-color);
  color: var(--text-color);
}

header,
main,
footer {
  max-width: 15rem; /*375px;*/
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav i {
  font-size: 1.3rem;
}

.darkmode {
  --base-color: rgb(0, 0, 0);
  --base-variant: #070808;
  --text-color: rgb(255, 255, 255);
  --secondary-text: rgb(129, 158, 253);
  td {
    background-color: black;
  }

  /* th {
    background-color: black;
  } */

  .project-card img {
    border: 1px solid white;
  }
}

main,
section {
  display: flex;
  flex-direction: column;
}

main {
  gap: 4rem;
}

section {
  gap: 1rem;
}

.intro-header p {
  padding-top: 0.25rem;
}

.intro-description {
  max-width: 100%;
}

.links-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.link-arrow {
  color: var(--color-link);
  transform: rotate(-45deg);
}

.color-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cards-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-card > div:first-of-type {
  flex: 1;
}

.project-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 0.5rem;
}

.tech-list {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 0.25rem 0;
}

.tech-list div {
  padding: 0.1rem 0.5rem;
  border-radius: var(--border-radius-small);
}

.tech-list p {
  font-size: 0.8rem;
}

@media (min-width: 640px) {
  header,
  main,
  footer {
    max-width: 35rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
  }

  .project-card {
    flex-direction: row;
  }

  .project-card .img-div {
    max-width: 30%;
  }
}
